In [4]:
import pandas as pd
import nltk

In [74]:
#need to tokenize 
#remove stop words
#apply stemming or lametization
#create DTM or Vectorizer

In [5]:
df = pd.read_csv('/Users/shivaborusu/Downloads/technicalcodinground/train.tsv', delimiter='\t')

In [6]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [5]:
df.size

198876

In [15]:
from nltk import downloader, sentiment, stem, tokenize

In [29]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [16]:
from nltk.tokenize import word_tokenize

In [10]:
input_column = df['Phrase']

In [106]:
input_column = pd.DataFrame(data=input_column, index=None)

In [107]:
input_column.columns

Index(['Phrase'], dtype='object')

In [109]:
input_column['Phrase'].head(5)

0    An intermittently pleasing but mostly routine ...
1    An intermittently pleasing but mostly routine ...
2                                                   An
3    intermittently pleasing but mostly routine effort
4           intermittently pleasing but mostly routine
Name: Phrase, dtype: object

In [108]:
input_column.head()

                                              Phrase
0  An intermittently pleasing but mostly routine ...
1  An intermittently pleasing but mostly routine ...
2                                                 An
3  intermittently pleasing but mostly routine effort
4         intermittently pleasing but mostly routine

In [63]:
sample = word_tokenize(input_column['Phrase'][1])

In [78]:
sample

['An', 'intermittently', 'pleasing', 'but', 'mostly', 'routine', 'effort']

In [86]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [101]:
from nltk.sentiment import sentiment_analyzer

In [116]:
input_column['Tokens'] = input_column['Phrase'].apply(word_tokenize)

In [117]:
input_column

,Phrase,Tokens
0,An intermittently pleasing but mostly routine ...,"[An, intermittently, pleasing, but, mostly, ro..."
1,An intermittently pleasing but mostly routine ...,"[An, intermittently, pleasing, but, mostly, ro..."
2,An,[An]
3,intermittently pleasing but mostly routine effort,"[intermittently, pleasing, but, mostly, routin..."
4,intermittently pleasing but mostly routine,"[intermittently, pleasing, but, mostly, routine]"
...,...,...
66287,"A long-winded , predictable scenario .","[A, long-winded, ,, predictable, scenario, .]"
66288,"A long-winded , predictable scenario","[A, long-winded, ,, predictable, scenario]"
66289,"A long-winded ,","[A, long-winded, ,]"
66290,A long-winded,"[A, long-winded]"
66291,predictable scenario,"[predictable, scenario]"

In [118]:
from nltk.corpus import stopwords

In [120]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [148]:
def remove_stop(lis):
    return [word for word in lis if not word in stopwords.words('english')]

In [155]:
remove_stop(['how', 'are', 'you', "hope", "fine", "extra","spice"])

['hope', 'fine', 'extra', 'spice']

In [149]:
#nltk.download()

In [156]:
input_column['Tokens_stp'] = input_column['Tokens'].apply(remove_stop)

In [138]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [132]:
sentense = "Hola, how do you do? I'm loving this place. Hope you are doing great."

In [136]:
sent_tokenize(sentense)

['Hola, how do you do?', "I'm loving this place.", 'Hope you are doing great.']

In [139]:
word_tokenize("Hola, how do you do?")

['Hola', ',', 'how', 'do', 'you', 'do', '?']

In [140]:
from nltk.corpus import stopwords

In [147]:
#stopwords.words("english")

In [159]:
input_column['Tokens_stp'][0]

['An', 'intermittently', 'pleasing', 'mostly', 'routine', 'effort', '.']

In [168]:
from nltk import FreqDist

freq_dist_pos = FreqDist(["hi", "hi", "hi", "hola", "bab", "baby", "bab"])

In [173]:
print(freq_dist_pos.most_common(2))

[('hi', 3), ('bab', 2)]