In [1]:
#need to tokenize 
#remove stop words
#apply stemming or lametization
#create DTM or Vectorizer
import pandas as pd
import nltk

In [2]:
df = pd.read_csv('/Users/shivaborusu/Downloads/technicalcodinground/train.tsv', delimiter='\t')

In [3]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [4]:
df['Sentiment'].unique()

array([1, 2, 3, 4, 0])

In [7]:
df['SentenceId'].nunique()

8529

In [10]:
df.shape

(156060, 4)

In [8]:
df['PhraseId'].nunique()

156060

In [12]:
df_positive = df[df['Sentiment']>=3]

In [17]:
df_negative = df[df['Sentiment']<3]

In [14]:
df_positive.shape

(42133, 4)

In [16]:
df_positive.head()

,PhraseId,SentenceId,Phrase,Sentiment
21,22,1,good for the goose,3
22,23,1,good,3
46,47,1,amuses,3
63,64,2,"This quiet , introspective and entertaining in...",4
64,65,2,"This quiet , introspective and entertaining in...",3

In [18]:
df_negative.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [21]:
df['Target'] =  df['Sentiment'] >= 3

In [22]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,Target
0,1,1,A series of escapades demonstrating the adage ...,1,False
1,2,1,A series of escapades demonstrating the adage ...,2,False
2,3,1,A series,2,False
3,4,1,A,2,False
4,5,1,series,2,False

In [23]:
df['Target'].unique()

array([False,  True])

In [24]:
df_test = pd.read_csv('/Users/shivaborusu/Downloads/technicalcodinground/test.tsv', delimiter='\t')

In [25]:
df_test.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [28]:
df.drop_duplicates()

,PhraseId,SentenceId,Phrase,Sentiment,Target
0,1,1,A series of escapades demonstrating the adage ...,1,False
1,2,1,A series of escapades demonstrating the adage ...,2,False
2,3,1,A series,2,False
3,4,1,A,2,False
4,5,1,series,2,False
...,...,...,...,...,...
156055,156056,8544,Hearst 's,2,False
156056,156057,8544,forced avuncular chortles,1,False
156057,156058,8544,avuncular chortles,3,True
156058,156059,8544,avuncular,2,False
156059,156060,8544,chortles,2,False

In [31]:
df['Phrase'].head(30)

0     A series of escapades demonstrating the adage ...
1     A series of escapades demonstrating the adage ...
2                                              A series
3                                                     A
4                                                series
5     of escapades demonstrating the adage that what...
6                                                    of
7     escapades demonstrating the adage that what is...
8                                             escapades
9     demonstrating the adage that what is good for ...
10                              demonstrating the adage
11                                        demonstrating
12                                            the adage
13                                                  the
14                                                adage
15                      that what is good for the goose
16                                                 that
17                           what is good for the goose
18                                                 what
19                                is good for the goose
20                                                   is
21                                   good for the goose
22                                                 good
23                                        for the goose
24                                                  for
25                                            the goose
26                                                goose
27    is also good for the gander , some of which oc...
28    is also good for the gander , some of which oc...
29                                              is also
Name: Phrase, dtype: object

In [35]:
from nltk.tokenize import word_tokenize

In [44]:
df['Phrase_Token'] = df['Phrase'].apply(word_tokenize)

In [45]:
df['Phrase_Token'].head(50)

0     [A, series, of, escapades, demonstrating, the,...
1     [A, series, of, escapades, demonstrating, the,...
2                                           [A, series]
3                                                   [A]
4                                              [series]
5     [of, escapades, demonstrating, the, adage, tha...
6                                                  [of]
7     [escapades, demonstrating, the, adage, that, w...
8                                           [escapades]
9     [demonstrating, the, adage, that, what, is, go...
10                          [demonstrating, the, adage]
11                                      [demonstrating]
12                                         [the, adage]
13                                                [the]
14                                              [adage]
15              [that, what, is, good, for, the, goose]
16                                               [that]
17                    [what, is, good, for, the, goose]
18                                               [what]
19                          [is, good, for, the, goose]
20                                                 [is]
21                              [good, for, the, goose]
22                                               [good]
23                                    [for, the, goose]
24                                                [for]
25                                         [the, goose]
26                                              [goose]
27    [is, also, good, for, the, gander, ,, some, of...
28    [is, also, good, for, the, gander, ,, some, of...
29                                           [is, also]
30                                               [also]
31    [good, for, the, gander, ,, some, of, which, o...
32    [for, the, gander, ,, some, of, which, occasio...
33    [the, gander, ,, some, of, which, occasionally...
34                                     [the, gander, ,]
35                                        [the, gander]
36                                             [gander]
37                                                  [,]
38    [some, of, which, occasionally, amuses, but, n...
39                                    [some, of, which]
40                                               [some]
41                                          [of, which]
42                                              [which]
43    [occasionally, amuses, but, none, of, which, a...
44                                       [occasionally]
45    [amuses, but, none, of, which, amounts, to, mu...
46                                             [amuses]
47    [but, none, of, which, amounts, to, much, of, ...
48                                                [but]
49    [none, of, which, amounts, to, much, of, a, st...
Name: Phrase_Token, dtype: object

In [41]:
from nltk import punkt

In [42]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [47]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [48]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [51]:
from nltk.stem import SnowballStemmer

In [54]:
stemmer = SnowballStemmer(language='english', ignore_stopwords=False)

In [58]:
df['Stem'] = df['Phrase_Token'].apply(lambda x: [stemmer.stem(y)  for y in x] )

In [60]:
df['Stem'].head(50)

0     [a, seri, of, escapad, demonstr, the, adag, th...
1     [a, seri, of, escapad, demonstr, the, adag, th...
2                                             [a, seri]
3                                                   [a]
4                                                [seri]
5     [of, escapad, demonstr, the, adag, that, what,...
6                                                  [of]
7     [escapad, demonstr, the, adag, that, what, is,...
8                                             [escapad]
9     [demonstr, the, adag, that, what, is, good, fo...
10                                [demonstr, the, adag]
11                                           [demonstr]
12                                          [the, adag]
13                                                [the]
14                                               [adag]
15               [that, what, is, good, for, the, goos]
16                                               [that]
17                     [what, is, good, for, the, goos]
18                                               [what]
19                           [is, good, for, the, goos]
20                                                 [is]
21                               [good, for, the, goos]
22                                               [good]
23                                     [for, the, goos]
24                                                [for]
25                                          [the, goos]
26                                               [goos]
27    [is, also, good, for, the, gander, ,, some, of...
28    [is, also, good, for, the, gander, ,, some, of...
29                                           [is, also]
30                                               [also]
31    [good, for, the, gander, ,, some, of, which, o...
32    [for, the, gander, ,, some, of, which, occasio...
33    [the, gander, ,, some, of, which, occasion, am...
34                                     [the, gander, ,]
35                                        [the, gander]
36                                             [gander]
37                                                  [,]
38    [some, of, which, occasion, amus, but, none, o...
39                                    [some, of, which]
40                                               [some]
41                                          [of, which]
42                                              [which]
43    [occasion, amus, but, none, of, which, amount,...
44                                           [occasion]
45    [amus, but, none, of, which, amount, to, much,...
46                                               [amus]
47    [but, none, of, which, amount, to, much, of, a...
48                                                [but]
49    [none, of, which, amount, to, much, of, a, stori]
Name: Stem, dtype: object

In [62]:
from nltk.corpus import stopwords

In [65]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivaborusu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [67]:
stop_words = stopwords.words("english")

In [68]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [73]:
df['stop_wrd_rem'] = df['Stem'].apply(lambda x: [y for y in x if y not in stop_words])

In [76]:
df['Stem'].head()

0    [a, seri, of, escapad, demonstr, the, adag, th...
1    [a, seri, of, escapad, demonstr, the, adag, th...
2                                            [a, seri]
3                                                  [a]
4                                               [seri]
Name: Stem, dtype: object

In [75]:
df['stop_wrd_rem'].head()

0    [seri, escapad, demonstr, adag, good, goos, al...
1          [seri, escapad, demonstr, adag, good, goos]
2                                               [seri]
3                                                   []
4                                               [seri]
Name: stop_wrd_rem, dtype: object

In [78]:
df['stop_wrd_rem'].head(50)

0     [seri, escapad, demonstr, adag, good, goos, al...
1           [seri, escapad, demonstr, adag, good, goos]
2                                                [seri]
3                                                    []
4                                                [seri]
5                 [escapad, demonstr, adag, good, goos]
6                                                    []
7                 [escapad, demonstr, adag, good, goos]
8                                             [escapad]
9                          [demonstr, adag, good, goos]
10                                     [demonstr, adag]
11                                           [demonstr]
12                                               [adag]
13                                                   []
14                                               [adag]
15                                         [good, goos]
16                                                   []
17                                         [good, goos]
18                                                   []
19                                         [good, goos]
20                                                   []
21                                         [good, goos]
22                                               [good]
23                                               [goos]
24                                                   []
25                                               [goos]
26                                               [goos]
27    [also, good, gander, ,, occasion, amus, none, ...
28    [also, good, gander, ,, occasion, amus, none, ...
29                                               [also]
30                                               [also]
31    [good, gander, ,, occasion, amus, none, amount...
32    [gander, ,, occasion, amus, none, amount, much...
33    [gander, ,, occasion, amus, none, amount, much...
34                                          [gander, ,]
35                                             [gander]
36                                             [gander]
37                                                  [,]
38          [occasion, amus, none, amount, much, stori]
39                                                   []
40                                                   []
41                                                   []
42                                                   []
43          [occasion, amus, none, amount, much, stori]
44                                           [occasion]
45                    [amus, none, amount, much, stori]
46                                               [amus]
47                          [none, amount, much, stori]
48                                                   []
49                          [none, amount, much, stori]
Name: stop_wrd_rem, dtype: object

In [83]:
df_train = df[["stop_wrd_rem","Sentiment"]]

In [87]:
df_test

       PhraseId  SentenceId                                             Phrase
0        156061        8545  An intermittently pleasing but mostly routine ...
1        156062        8545  An intermittently pleasing but mostly routine ...
2        156063        8545                                                 An
3        156064        8545  intermittently pleasing but mostly routine effort
4        156065        8545         intermittently pleasing but mostly routine
...         ...         ...                                                ...
66287    222348       11855             A long-winded , predictable scenario .
66288    222349       11855               A long-winded , predictable scenario
66289    222350       11855                                    A long-winded ,
66290    222351       11855                                      A long-winded
66291    222352       11855                               predictable scenario

[66292 rows x 3 columns]

In [88]:
from nltk import FreqDist

In [90]:
#freq_dist_pos = FreqDist(df_train["stop_wrd_rem"])
#print(freq_dist_pos.most_common(10))

In [91]:
from nltk import classify
from nltk import NaiveBayesClassifier

In [94]:
df_train

                                             stop_wrd_rem  Sentiment
0       [seri, escapad, demonstr, adag, good, goos, al...          1
1             [seri, escapad, demonstr, adag, good, goos]          2
2                                                  [seri]          2
3                                                      []          2
4                                                  [seri]          2
...                                                   ...        ...
156055                                       [hearst, 's]          2
156056                          [forc, avuncular, chortl]          1
156057                                [avuncular, chortl]          3
156058                                        [avuncular]          2
156059                                           [chortl]          2

[156060 rows x 2 columns]

In [95]:
x_train = df_train.iloc[:,0]

In [96]:
x_train.head()

0    [seri, escapad, demonstr, adag, good, goos, al...
1          [seri, escapad, demonstr, adag, good, goos]
2                                               [seri]
3                                                   []
4                                               [seri]
Name: stop_wrd_rem, dtype: object

In [97]:
y_train = df_train.iloc[:,1]

In [98]:
y_train.head()

0    1
1    2
2    2
3    2
4    2
Name: Sentiment, dtype: int64